.header-container {
  background-color: #0c8397;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.small {
  margin: 15px;
  width: 28px;
}

.large {
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
}

.icon-arrow {
  background: url('src\assets\icons\arrows.png'), no-repeat;
  background-color: transparent;
  color: #0c8397;
  display: inline-block;
  width: 28px;
  height: 24px;
}

.icon-briefcase {
  background: url('src\assets\icons\briefcase.png'), no-repeat;
  display: inline-block;
  width: 28px;
  height: 24px;
}
